<style>
    :root {
        --board-width: 300px;
    }
    .viewportGame_container{
        position:   relative;
    }
    .board{
        width:      var(--board-width);
        display:    flex;
        flex-wrap:  wrap;
        border:     1px solid black;
        margin:     0 auto;
        position:   relative;
    }
    .square{
        font-family:    sans-serif;
        font-weight:    100;
        width:          calc(var(--board-width) / 3);
        height:         calc(var(--board-width) / 3);
        border:         1px solid black;
        box-sizing:     border-box;
        display:        flex;
        align-items:    center;
        justify-content: center;
    }
    .pieceScale{
        transform: scale(4);
    }
    .blockboard{
        pointer-events: none;
        opacity: 0.4;
    }
    .modal{
        position: relative;
        border: 1px solid;
        margin: 0 auto;
        width: 100%;
        max-width: 250px;
        max-height: calc(var(--board-width) / 2);
        top: -50%;
        z-index: 999;
        margin-top: calc(-110% + var(--board-width));
    }
</style>
<div id="viewportGame" class="viewportGame_container">
    <div id="board_game" class="board">
        <div id="c0" class="js-square square"></div>
        <div id="c1" class="js-square square"></div>
        <div id="c2" class="js-square square"></div>
        <div id="c3" class="js-square square"></div>
        <div id="c4" class="js-square square"></div>
        <div id="c5" class="js-square square"></div>
        <div id="c6" class="js-square square"></div>
        <div id="c7" class="js-square square"></div>
        <div id="c8" class="js-square square"></div>
    </div>
</div>
<script src="./js/singleGameController/modalNode.js" type="text/javascript"></script>
<script src="./js/singleGameController/loadGameVars.js" type="text/javascript"></script>
<script src="./js/singleGameController/blockBoard.js" type="text/javascript"></script>
<script src="./js/singleGameController/checkFinishGame.js" type="text/javascript"></script>
<script src="./js/singleGameController/checkSquare.js" type="text/javascript"></script>
<script src="./js/singleGameController/initGame.js" type="text/javascript"></script>